@use "./global-utils.module.scss" as *;

html,
body {
  height: 100%;
}

body {
  background: $black;
  color: $white;
  font-family: "Oswald", sans-serif;
  margin: 0;
}

#__next {
  height: 100%;
}

h2 {
  margin: 0;
}

.largeText {
  font-size: 50px;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
