@use "../../styles//global-utils.module.scss" as *;

.contact {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.backgroundImage {
  filter: grayscale(1);
  background-image: url("../../assets/backgrounds/contact.jpg");
  background-size: cover;
  background-position: 50% 20vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  @media (min-width: 1000px) {
    background-position: 50% 5vw;
  }
}

.revealDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  z-index: 3;
}

.contentContainer {
  font-size: 25px;
  padding: $global-padding;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;

  i {
    font-size: 30px;
  }
}

.emailDomainClipboardIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailDomain {
  margin-right: 10px;
}

.instagramPaperPlanIconsContainer {
  i {
    margin: 0 5px;
  }
}

.madeWithLove {
  margin-top: auto;
}
