@use "../../styles/global-utils.module.scss" as *;

.contentContainer {
  padding: $global-padding;
  max-width: 800px;
  margin: auto;

  p {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.companyDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;

  @media (min-width: 500px) {
    margin-top: 0;
    min-height: 100vh;
  }

  i {
    display: none;
  }

  @media (min-width: 500px) {
    i {
      display: block;
      position: relative;
      top: 50px;
      left: 50%;
      width: fit-content;
      animation-name: pointer;
      animation-duration: 1.5s;
      animation-delay: 2s;
      animation-iteration-count: infinite;

      &:hover {
        color: $white;
        cursor: default;
      }
    }
  }
}

@keyframes pointer {
  0% {
    top: 50px;
  }

  10% {
    top: 55px;
  }

  25% {
    top: 50px;
  }

  35% {
    top: 55px;
  }

  50% {
    top: 50px;
  }
}

.memberDetails {
  display: block;

  @media (min-width: 600px) {
    display: flex;
    align-items: flex-start;
  }

  h2 {
    border-bottom: 1px solid $white;
  }

  img {
    min-width: 240px;
    margin: 0 20px 20px 0;
  }
}

.memberCopy {
  margin-bottom: 75px;
}
