@use "../../styles/global-utils.module.scss" as *;

.swipeBox {
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  cursor: pointer;
  overflow: scroll;
  display: flex;
  min-height: 100%;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.text {
  display: flex;
  align-items: center;
  min-width: 90%;
  min-height: 100%;
  box-shadow: 0px 10px 20px black;
  z-index: 999;
  padding-left: 20px;
}

.fillerDiv {
  min-width: 100vw;
  min-height: 100%;
  background: $white;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation-name: fillerDivOpacity;
  animation-duration: 1.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fillerDivOpacity {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.7;
  }

  41% {
    opacity: 1;
  }

  45% {
    opacity: 0.5;
  }

  47% {
    opacity: 0.4;
  }

  48% {
    opacity: 0.4;
  }

  50% {
    opacity: 0;
  }
}
